@import url("https://chinese-fonts-cdn.deno.dev/packages/maple-mono-cn/dist/MapleMono-CN-Regular/result.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Maple Mono CN";
	background-color: #f3f4f6;
	color: #333;
}

.animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

[title] {
	position: relative;
}

[title]:hover::after {
	content: attr(title);
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 0.75rem;
	border-radius: 0.25rem;
	white-space: nowrap;
	z-index: 10;
}
